/* Thiết lập chung */
body, header, section, footer {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Đăng nhập và tiến trình */
#user-login, #progress-tracker, nav ul {
    text-align: center;
}

#question {
    width: 40%; 
}

/* Thanh điều hướng */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 15px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Tiêu đề và đoạn văn */
h2 {
    color: #3498db;
    font-family: 'Arial', sans-serif;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
}

/* Nền cho thẻ body */
body {
    background-color: #f7f7f7;
}

/* Section */
section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

section:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Hiệu ứng hover */
a:hover, button:hover {
    color: #555;
    background-color: #555;
}

/* Header */
header {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Thẻ thực đơn */
.menu-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.menu-item img {
    width: 100%;
    height: auto;
}

/* Tư vấn trực tuyến và FAQ */
#online-consultation {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#online-consultation h2 {
    color: #3498db;
    margin-bottom: 15px;
}

.faq-item ul {
    list-style-type: none;
    padding: 0;
}

.faq-item li {
    background-color: #f2f2f2;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.faq-item li:hover {
    background-color: #e0e0e0;
}

#online-consultation button:hover {
    background-color: #43A047;
}
